<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="App" connectionString="Data Source=NITESH\SQLEXPRESS; Initial Catalog=LeadManagement; Integrated Security=True"
      providerName="System.Data.SQLClient" />
	  <add name="Salesinfo" connectionString="Data Source=NITESH\SQLEXPRESS; Initial Catalog=LeadManagement; Integrated Security=True"
      providerName="System.Data.SQLClient" />
   
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
<system.webServer>
     <defaultDocument>
            <files>
                <clear />               
                <add value="Login.aspx"/>
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>